.skills {
	min-height: 30vh;
	padding: 128px 12%;
	width: 100%;
	position: relative;
}

.skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}


.skills_content {
  	flex: 1 1 180px; /* Cresce, encolhe, mínimo 180px */
  	max-width: 220px;
  	border: 1px solid #636262;
  	color: #ffffff;
  	display: flex;
  	border-radius: 16px;
  	padding: 12px;
  	gap: 16px;
  	transition: 0.2s ease-in-out;
  	cursor: pointer;
  	background: #0e1013;
  	align-items: center;
}

.skills_content:hover {
  	transform: scale(1.01);
  	background-color: #000000;
  	color: #ffffff;
  	border: 1px solid #007bff;
}

.skills_content p {
	font-size: 12px;
}

.skills_icons {
  	display: flex;
  	border-radius: 10px;
  	padding: 10px;
  	justify-content: center;
}

.icon {
	font-size: 50px !important;
}

.owl-carousel {
	z-index: 0 !important;
}

.owl-stage {
	width: 100%;
}